.grid-container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: "up up up up up up up up up up"
                        "ft ft ft ft ft ft ft ft ft ft";
    grid-template-rows: 7fr 3fr;
    height: 100vh;
    width: 100vw;
}
.upper {
    grid-area: up;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFCD9E;
}
.footer {
    grid-area: ft;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #282828;
    align-items: center;
}
.image {
    height: 25rem;
    width: 25rem;
    padding: 2.813rem 3.125rem;
}
.main {
    flex-wrap: wrap;
    padding: 0rem 12.5rem;
}
.heading {
    color: #282828;
    font-family: Inter;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    padding: 3rem 0rem 1rem 0rem;
    width: 35rem;
}
.para1 {
    color: #484848;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    padding: 0 0 2rem 0;
    width: 28rem;
}
.para2 {
    color: #282828;
    font-family: Inter;
    font-size: 41.51px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    padding: 0 0 0.8rem 0;
}

.para3 {
    color: #FFF;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    padding: 0 2.5rem 1.25rem 0;
}
.footer > ul {
    list-style-type: none;
    padding: 3.125rem 11.938rem;
}
ul li {
    color: white;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 
}
.footer-right {
    text-align: right;
}
* {
    margin: 0rem;
}

/* @media screen and (max-width: 1000px) {
    .upper  {
        display: flex;
        flex-direction: column;
    }
} */